body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
  background-color: #fff;
  color: #333;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

section {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  
  display: -moz-box;      /* OLD: Firefox (buggy) */ 
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

  flex-direction: row;
  -webkit-flex-direction: row;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  -webkit-box-align: center; -moz-box-align: center; 
  -ms-flex-align: center; 
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center; -moz-box-pack: center; 
  -ms-flex-pack: center; 
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0;
  height: 100%;
  width: 100% /* needed for Firefox */   
}

.textinfo {
  padding-top: 1em;
}

.textinfobox {
  min-width: 200px;
  border: 1px dashed #ccc;
  border-radius: 8pt;
  min-height: 200px;
}

#dayssincelast {
  border: none;
  padding-top: 100px;
}

#legend {
  width: 180px;
  border: 1px dashed #ccc;
  border-radius: 8pt;
  padding-left: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

#viewcontrols {
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;  
}

#layoutcontrols {
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;  
}


#legend h4 {
  margin-left: 0.3em
}

ul.legend {
  list-style-type: none;
  margin-left: -2em;
}

ul.legend li span {
  vertical-align: 40%;
}

ul.filterform {
  list-style-type: none;
  margin-left: -2em;
}

#graph {
  border: 2px dashed rgba(0, 0, 0, 0.1);
}

text {
  font-face: sans-serif;
}

.tick text {
  font-size: 10px;
  font-weight: bold;
  fill: #333;
}

.celllabel {
  /* Disallow cell label elements from 'stealing' clicks from elements that are 
  underneath them. */
  pointer-events: none
}

.attacklabel {
  font-size: 1.5em;
}

.attackvalue {
  font-size: 2em;
}

#dayssincelast {
  margin-left: 1.2em;
}

.mainheader {
  margin-left: 1em;
}

.mainheader h1 {
  margin-bottom: 0px;
  color: #444;
}

.mainheader h2 {
  font-weight: normal;
  font-size: 1em;
  margin-top: 0.25em;
}

.qualitative {
  font-family: Georgia,"Book Antiqua",serif;
}


@media only screen and (max-width: 767px) {
  .mainheader {   
    font-size: 0.5em;
    margin-top: 0.05em;
  }

  .desktoponly {
    display: none;
  }
}
 
