body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}
 
text {
  font: 10px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
form {
  position: absolute;
  right: 10px;
  top: 10px;
}

section {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  
  display: -moz-box;      /* OLD: Firefox (buggy) */ 
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

  flex-direction: row;
  -webkit-flex-direction: row;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  -webkit-box-align: center; -moz-box-align: center; 
  -ms-flex-align: center; 
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center; -moz-box-pack: center; 
  -ms-flex-pack: center; 
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0;
  height: 100%;
  width: 100% /* needed for Firefox */   
}

.textinfobox {
   -prefix-box-flex: 1; /* old spec webkit, moz */
   flex: 1;
   -webkit-flex: 1;
   width: 400px;  
}

ul.legend {
  list-style-type: none;
  margin-left: -2em;
}

#dayssincelast {
}

#legend {
  margin-left: 1em
}